## ANÁLISE DE dADOS DE FILMES EXIBIDOS NO BRASIL DE 2009 A 2017
#CELL TYPE - MARKDOWN(COMANDO PARA FAZER TITULO)

In [ ]:
#PARA FAZER O TEXTO ACIMA É SÓ DAR UM SHIFT + ENTER

In [2]:
#importando as bibliotecas
import pandas as pd
#configurando o metplotilb (desenha gráficos)
%matplotlib inline

In [13]:
#criar o dataframe com base no arquivo excel
#precisamos pular as 2 primeiras linhas (skiprows)
#precisamos pular as linhas finais (skipfooter)
df = pd.read_excel('2120.xlsx', skiprows=2, skipfooter=16)

#exibindo as 5 primairas linhas do dataframe
df.head()

,Ano de exibição,Título da obra,CPB/ROE,Gênero,País(es) produtor(es) da obra,Nacionalidade da obra,Data de lançamento,Empresa distribuidora,Origem da empresa distribuidora,Público no ano de exibição,Renda (R$) no ano de exibição
0,2019,120 Batimentos Por Minuto,E1700453800000,Ficção,França,Estrangeira,43104,Imovision,Distribuição Nacional,10,70
1,2019,3 Faces,E1800494900000,Ficção,Irã,Estrangeira,43559,Imovision,Distribuição Nacional,6289,103805
2,2019,45 Dias Sem Você,B1800586000000,Ficção,Brasil,Brasileira,43601,O2 Play,Distribuição Nacional,3303,31295
3,2019,A 100 Passos De Um Sonho,E1402795100000,Ficção,Estados Unidos,Estrangeira,41879,Disney,Distribuição Internacional,69,4186
4,2019,A Abelhinha Maya - O Filme,E1800136100000,Animação,Alemanha,Estrangeira,43237,Playarte,Distribuição Nacional,402,3531

In [18]:
#exibir as 5 ultimas linhas
df.tall()

AttributeError: 'DataFrame' object has no attribute 'tall'

In [19]:
df.dtypes

Ano de exibição                    object
Título da obra                     object
CPB/ROE                            object
Gênero                             object
País(es) produtor(es) da obra      object
Nacionalidade da obra              object
Data de lançamento                 object
Empresa distribuidora              object
Origem da empresa distribuidora    object
Público no ano de exibição         object
Renda (R$) no ano de exibição      object
dtype: object

In [ ]:
#converter a data de lançamento